

<div class ="patient">



<h1>Doctor Notes</h1>
<div>
  <div>Date: <%= @notes.date %> - <%= @notes.text%> - !!!END!!!</div>
</div>


</br></br>
<button type="button" class="btn btn-default btn-md ">
<%= link_to "Back", show_physical_path%></button>
</br>
<button type="button" class="btn btn-default btn-md ">
<%= link_to "Menu", welcome_index_path %></button>
</br>
</div>
